/* src/components/App.module.css */
.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}
